$primary-color: red;
$secondary-color: orange;
$minor-color: gold;

body {
  // font-family: Courier New;
  font-family: "Lato";
  font-weight: 400;
  text-rendering: optimizeLegibility;
  background-color: #efefef;
}

.logo-container {
  display: flex;
  justify-content: center;
  background-color: white;
  text-align: center;
  padding: 20px 0;
}
 
.logo-container .row {
  width: 80%;
}
 
.icon-img {
  height: auto;
  width: 90%;
}
 
.forge-header {
  color: $primary-color;
  font-size: 6rem;
  margin-bottom: 3rem;
  text-shadow: 3px 3px 10px $secondary-color;
}
 
.banner-buttons button {
  margin: 10px;
}

.github-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.github-button-group .gh-btn {
  margin: 5px;
}

.team {
  margin-bottom: 2rem;
  display: flex;
  text-align: center;
  // margin: auto;
  .column {
    margin: auto;
    opacity: 1;
    width: 20%;
    padding: 20px;
    position: relative;
    display: inline-flex;
  }
}

.head h2 {
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 16px 16px;
  resize: both;
  position: relative;
}

.team-hover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  height: auto;
  overflow: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

h3 {
  font-weight: 700;
}

.head a {
  padding-right: 10px;
  padding-left: 10px;
  bottom: 0;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  position: aboslute;
}

.half-image {
  width: 100%;
}

.info:hover .image {
  opacity: 0.3;
}

.info:hover .team-hover {
  opacity: 1;
}

.bolts {
  color: $minor-color;
}

.heading {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 100%;
  padding: 40px;
}

.buttons {
  margin-top: -70px;
}

.buttons a {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .buttons {
    margin-top: 0px;
    float: none !important;
  }

  .footer {
    display: none;
  }

  .team .column {
    width: 100%;
    display: block;
  }
  .installation {
    width: 100%;
  }
}

.feature-desc h4 {
  padding-left: 40px;
}

.installation {
  width: 80%;
}

.install-col {
  text-align: center;
}

.navbar {
  height: 4rem;
}

.forge-nav-logo {
  height: 3.8rem;
  width: auto;
  opacity: 0.9;
}

.navbar-overlay {
  border-style: hidden hidden solid hidden;
  border-width: thin;
  background: firebrick; 
}

.footer {
  height: 2rem;
}

.footer a {
  color: white;
}

.f-text {
  color: lightgray;
}

#page-1 #page-2 #page-3 {
  scroll-behavior: smooth;
}

.dropdown-menu {
  top: 120%;
  background: firebrick;
  border-style: hidden solid solid solid;
}