.container {
    width: 70%;
    margin: 0 auto;
    // height: 20%;
    .title{
        margin-left: 400px;
        align-content: center;
    }
    .des{
        // display: inline-block
        // margin-left: 50px;
        align-content: center;
    }
}

.column {
    float: left;
    width: 20%;
    padding: 10px;
}
.app-container::after {
    content: "";
    clear: both;
    display: table;
}
.mem-hover:hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    transition: all 0.3s;
}

    

